/* Scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #121212; }
::-webkit-scrollbar-thumb { background: #E3D5CA; border: 1px solid #121212; }
::-webkit-scrollbar-thumb:hover { background: #E94560; }

.tech-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    will-change: transform, opacity, filter;
}
